In [13]:
l1 = list(l for l in range(0,10))
l2 = list(l for l in range(10,20))
l2[-1] = 11

In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame()
df['col1'] = l1
df['col2'] = l2

In [16]:
df1= np.diff(df.values)
print(type(df1))
df1

<class 'numpy.ndarray'>

array([[10],
       [10],
       [10],
       [10],
       [10],
       [10],
       [10],
       [10],
       [10],
       [ 2]])

In [17]:
df['result'] = ((np.diff(df.values))**2)
df['result'] = np.mean(df['result'])

In [21]:
df['RMSE'] = df['result']**0.5

In [22]:
df

   col1  col2  result      RMSE
0     0    10    90.4  9.507891
1     1    11    90.4  9.507891
2     2    12    90.4  9.507891
3     3    13    90.4  9.507891
4     4    14    90.4  9.507891
5     5    15    90.4  9.507891
6     6    16    90.4  9.507891
7     7    17    90.4  9.507891
8     8    18    90.4  9.507891
9     9    11    90.4  9.507891